accelerate==1.12.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
anyio==4.12.1
attrs==25.4.0
certifi==2026.1.4
charset-normalizer==3.4.4
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_cloudpickle_1765303462/work
datasets==4.5.0
dill==0.4.0
evaluate==0.4.6
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1771468595873/work
frozenlist==1.8.0
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1770387778895/work
gmpy2 @ file:///Users/runner/miniforge3/conda-bld/gmpy2_1762946837834/work
h11==0.16.0
hf-xet==1.2.0
httpcore==1.0.9
httpx==0.28.1
huggingface_hub==0.36.2
idna==3.11
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jinja2_1764517220/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1765794027227/work
llvmlite==0.46.0
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1759055299832/work
mpmath @ file:///home/conda/feedstock_root/build_artifacts/mpmath_1733302684489/work
multidict==6.7.1
multiprocess==0.70.18
networkx @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_networkx_1765215107/work
numba @ file:///Users/runner/miniforge3/conda-bld/numba_1765466714240/work
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1707225620241/work/dist/numpy-1.26.4-cp311-cp311-macosx_10_9_x86_64.whl#sha256=0c694e57489122e5217f1154a05d3d7dd11011371f482a0bcd7692bad5da2ca0
optree @ file:///Users/runner/miniforge3/conda-bld/optree_1763124448230/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1769093650/work
pandas @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_pandas_1771409062/work
pillow @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_pillow_1770794115/work
propcache==0.4.1
psutil==7.2.2
pyarrow==23.0.1
pybind11 @ file:///D:/bld/bld/rattler-build_pybind11_1771365898/work
pybind11-global @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pybind11-global_1771365839/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-dateutil_1751104122/work
PyYAML==6.0.3
regex==2026.2.19
requests==2.32.5
safetensors==0.7.0
scikit-learn @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_scikit-learn_1766550874/work/dist/scikit_learn-1.8.0-cp311-cp311-macosx_10_13_x86_64.whl#sha256=5547a1395f47a6c384cd78ce199a88b96606b011471d347f5c61f11470a3f801
scipy @ file:///Users/runner/miniforge3/conda-bld/scipy-split_1768799550123/work/dist/scipy-1.17.0-cp311-cp311-macosx_10_13_x86_64.whl#sha256=6b442b6252ded28b8a2a4416dbe27758c60f1317a65884fd3bc33550eee34e64
shap @ file:///Users/runner/miniforge3/conda-bld/shap_1750151476384/work
six @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_six_1753199211/work
slicer @ file:///home/conda/feedstock_root/build_artifacts/slicer_1710029110974/work
sympy @ file:///home/conda/feedstock_root/build_artifacts/sympy_1745946051654/work
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1741878222898/work
tokenizers==0.22.2
torch==2.2.2
torchvision @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_torchvision_1769898316/work
torchvision-extra-decoders @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_torchvision-extra-decoders_1769464721/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_tqdm_1770153424/work
transformers==4.57.6
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typing_extensions_1756220668/work
urllib3==2.6.3
xxhash==3.6.0
yarl==1.22.0
